* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Rubik_Burned";
    src: url(./RubikBurned-Regular.ttf);
} 
body{
    margin: 0;
}
#main {
    display: flex;
    min-height: 250vh;
    padding-top: 15vh;
}
#main > article {
    flex: 1;
}
#main > nav, #main > aside {
    flex: 0 0 20%;
    background-color: beige;
}
#main > nav {
    order: -1;
}
header, footer, article, aside, nav {
    padding: 1em;
}
header, footer {
    background-color: Bisque;
    box-shadow: 1px 1px 5px rgb(255, 219, 174);
    height: 15vh;
}
header{
    width: 100%;
    position: fixed;
    top: 0; /* 🔥 這一行非常重要 */
    left: 0;
    z-index: 999; /* 為了確保在最上層 */
}

header > #title_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > #title_container > #title_box {
    width: 60%;
    border-radius: 10px;
    background-image: url(./pic/ai_small.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > #title_container > #title_box > #title {
    font-family: "Rubik_Burned";
    margin: 0; 
    border: 3px dashed white;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    font-size: 50px;
    color: rgb(210, 247, 255);
    text-shadow: 5px 5px 5px rgb(149, 149, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.6); */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

body {
    /* background-image: url(./pic/coffee.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main_introduce {
    background-color: white;
    /* margin-left: 100px; */
    border:3px dotted black;
    text-align: center;
    font-size: 25px;
    width: 220px;
}
#author_container {
    display: flex;
    flex-direction: column;
    background-color: black;
    /* margin: 0; */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
#img_author {
    /* margin-left: 100px; */
    height: 150px;
    width: 150px;
    float:left;
    border: 2px solid white;
    border-radius: 100px;
}
#self {
    background-color: white;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#self li::marker{
    content: "🌽";
}
#self li:hover{
    background-color: gray;
    color: white;
}

#main_tp_container {
  /* width: 100%; */
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  /* background-color: #fffbe6; */
  padding: 0.5em;
  position: relative;
}

#main > article > #main_tp_container > #main_typing_text {
    display: inline-block;
    padding-left: 100%; /* 從畫面右側起跑 */
    animation: scroll-left 10s linear infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/* @keyframes blink {
    50% {
      border-color: transparent;
    }
} */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120%);
  }
}

@media (min-width: 768px) {
    #author_container {
        display: flex;
        flex-direction: row;
    }
}
